@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.wedu{
    box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.1);
}
.wedu1{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.wedu2{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

body{
    background: #E5E5E5;
}